{% extends "base.html" %}
{% block content %}
    <form class="navbar-form navbar-left" method="GET">
        <div class="input-group" style="margin: 0 auto;width: 500px;">
            <input type="search" class="form-control rounded" placeholder="Запрос" name="q" value="{{ request.args.get('q', '') }}" aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="submit" class="btn btn-primary">Искать</button>
        </div>
    </form>
<meta charset="UTF-8">
<div class="catalog">
    <div class="row is-flex" style="justify-content: center;">
        {% for book in books %}
        <div class="product col-12 col-sm-60 col-md-40">
            <div class="product-container" style="background:#FFFFFF">
                <div class="product-main">
                    <img alt="фото" class="d-block w-800" style="margin: 0 auto;"
                         src="{{ url_for('static', filename=book.image) }}">                        </a>
                    <div class="product-name" style="position:relative;text-align: center;">
                        <p>{{ book.title }}</p>
                        <p>Автор: {{ book.author }}</p>
                    </div>
                    <div class="product-description" style="position:relative;text-align: center;">{{ book.description }}</div>
                    <div class="product-item" style="position:relative;text-align: center;">
                        <div class="product-item-dimension" >
                            {{ book.pages }} Страниц
                        </div>
                        <div class="product-item-price" >
                            {{ book.cost }}<span> ₽</span>
                        </div>
                    </div>
                    <div class="buttons" style="position:relative;text-align: center;">
                        <a href="/download_pdf/{{ book.id }}" class="btn btn-info">Посмотреть в PDF</a>
                        {% if current_user.is_authenticated and current_user.role == 'manager' %}
                        <a href="/edit_product/{{ book.id }}" class="btn btn-warning">Редактировать</a>
                        <a href="/product_delete/{{ book.id }}" class="btn btn-danger">Удалить</a>
                        <a href="/add_basket/{{ book.id }}" class="btn btn-success">В корзину</a>
                        {% else %}
                        {% if book.id|string in basket %}
                        <a href="/del_basket/{{ book.id }}" class="btn btn-warning">Удалить из корзины</a>
                        {% else %}
                        <a href="/add_basket/{{ book.id }}" class="btn btn-success">В корзину</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}