{% extends "base.html" %}

{% block content %}
<h1>Редактировать книгу</h1>

<form action="" method="post", enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.pages.label }}<br>
        {{ form.pages(class="form-control") }}<br>
        {% for error in form.pages.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.cost.label }}<br>
        {{ form.cost(class="form-control") }}<br>
        {% for error in form.cost.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.image.label }} <br>
        {{ form.image(class="form-control") }} <img alt="фото" class="d-block w-10"
                         src="{{ url_for('static', filename=book.image) }}"> {{ book.image }}                        </a></p>
    <p>{{ form.pdf.label }} <br>
        {{ form.pdf(class="form-control") }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}